<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="sfSuperAdminHeartbeatURL" value="http://superadmin.iot-cds.net/Monitor/RTMessageFeedIn"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageName" value="msfapplication"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageKey" value="JdO4n1lzFBE3720hQeNPdE/ifVtNWH5QhUGY293U37YFVqgrMHesiVSScCnL50JjyhweioWy4Pw29IUpVFH2+Q=="
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogLevel" value="Debug"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings>
    <add name="SFDatabaseEntities" connectionString="metadata=res://*/SFDatabaseEntities.csdl|res://*/SFDatabaseEntities.ssdl|res://*/SFDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iotcentertwdbserver.database.windows.net;initial catalog=MOEADB;persist security info=True;user id=kevika;password=``1qaz2wsx;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>