<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="RedisCache" connectionString="msfRedisCache.redis.cache.windows.net,ssl=true,password=EJqGROleuSqWln9UE1FdfQ/ztyJn5J3JUJom4naqKBQ="
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="sfAPIServiceBaseURI" value="https://msfapiservice.trafficmanager.net/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="sfDocDBConnectionString" value="https://msfdocumentdb.documents.azure.com:443/;AccountKey=uscYe8taxXEtIIzQjCM47T3y3F53wMn2QOPUOnZu55oBClFnzOzfd5UDSlMixgCR6aqBNbHebJmIgoSmdk2MxQ==;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfServiceBusConnectionString" value="Endpoint=sb://msfservicebus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=U+Mt2uQUXqZcWnFZdnMpbm1cX6PgGi+BDPORxHthSpI="
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageName" value="msfapplication"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageKey" value="JdO4n1lzFBE3720hQeNPdE/ifVtNWH5QhUGY293U37YFVqgrMHesiVSScCnL50JjyhweioWy4Pw29IUpVFH2+Q=="
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    

    <add key="sfLogLevel" value="Debug"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>   
    <sessionState>
      <providers>  
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider"
             host="msfRedisCache.redis.cache.windows.net"
             port="6380"
             accessKey="EJqGROleuSqWln9UE1FdfQ/ztyJn5J3JUJom4naqKBQ="
             ssl="true"
             throwOnError = "true"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
    </sessionState>
  </system.web>
</configuration>
